@import "normalize";
@import "jquery.fullPage";
@import "fonts";
@import "stylemixins";

$logo: '../img/logo_felix_denoix.svg';

$gris: #eaeaea;
$grisblanc: #e9edf0;
$orange: #fe5913;
$hover: #fff;
$noir: #373132;
$shadow: #706a6b;
$blanc: #ffffff;

$logoOpacity: 0.1;

$breakSmall: 400px;
$breakBig: 900px;

* {
  box-sizing: border-box;
}

body {
  font-size: 15px;
  @include font_reg;
  background-color: $gris;
  min-width: 320px;
  min-height: 500px;

  h1 {
    @include font_title;
    font-size: 2.8em;
    color: $orange;
    margin: 0;
    //text-shadow: .5px .5px $noir,1px 1px $noir,1.5px 1.5px $noir,2px 2px $noir,2.5px 2.5px $noir,3px 3px $noir,3.5px 3.5px $noir;
  }
  p {
    @include font_reg;
    font-size: 1.2em;
    color: $noir;
    line-height: 1.5;
  }
  a {
    @include font_reg;
    font-size: 1.2em;
    text-decoration: none;
    color: $orange;
    transition: color 0.4s cubic-bezier(0.32, 1.4, 0.82, 0.94);

    &:hover {
      color: $hover;
      cursor: pointer;
      text-shadow:  0 1px 3px #524c4d, 0 2px 2px #e9e9e9;
    }
  }
  span {
    color: $orange;
  }

  @media screen and (max-width: $breakSmall) {
    p {
      font-size: 1em;
    }
  }
}

.content {
  padding: 5%;
  vertical-align: middle;
  max-width: 750px;
  margin: auto;
}
.contentproj {
  padding: 5%;
  vertical-align: middle;
  max-width: 900px;
  margin: auto;
}

// ======== media queries content ======== //
@media screen and (max-width: $breakSmall) {
  .content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-top: 4em;
    text-align: center;
  }
}

@media screen and (min-width: $breakBig) {
  .content {
    max-width: 750px;
    vertical-align: middle;
    padding: 5%;
    margin: auto;
  }

  .content {
    max-width: 900px;
    vertical-align: middle;
    padding: 5%;
    margin: auto;
  }
}

#landing {

  .logo {
    position: fixed;
    margin: -2rem 0 0 -2rem;

    padding-bottom: 0;

    svg {
      height: 15em;
      fill: $noir;
      opacity: $logoOpacity;
      //bottom: 0;
    }
  }
  @media screen and (max-width: $breakSmall) {
    .logo {
      margin: auto;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translateX(-50%) translateY(-50%);

      svg {
        fill: $noir;
        opacity: $logoOpacity;
        height: 70vh;
      }
    }

  }

  .titre {
    display: block;
    position: relative;

  }

  .coucou {
    display: block;
    position: relative;
    a { 
      font-size: 1em;
    }
  }

  // ================ Landing ================ //

  .more {
    position: absolute;
    top: 5%;
    left: 5%;
    font-size: 1.2em;
    vertical-align: middle;

  }

  .projectsBtn {
    background-color: unset;
    text-align: center;
    position: absolute;
    margin: 0 auto;
    width: 10em;
    height: 2.5em;
    bottom: 10vh;
    left: 0;
    right: 0;

    display: flex;

    border: 0.15em solid $orange;
    border-radius: 0.20em;

    transition: all 0.4s cubic-bezier(0.32, 1.4, 0.82, 0.94);


    &:hover {
      color: $hover;
      border: 0.15em solid $hover;
      box-shadow:  0 1px 3px #524c4d, 0 2px 2px #e9e9e9;
      text-shadow:  0 1px 3px #524c4d, 0 2px 2px #e9e9e9;
      a{
        color: $hover;
      }
    }

    a {
      margin: auto;
    }

  }
  @media screen and (max-width: $breakSmall) {
    .projectsBtn {
      bottom: 10vw;
    }
  }

}

@import "morepopup";
@import "projects";

// TODO mobile rmonter corops sur accueil
// TODO rallonger sortie popup more
// TODO modifier texte accueil:
// TODO 		ajouter poste dans la deuxièe phrase
// TODO mobile more padding / margin
// TODO more ajouter icones en bas
// TODO js close more popup on verticalscroll
// TODO slide projects is active alors petit truc en bas avec ml

